<div class="empresa mural" id="<%=empresa.id%>">
		<!--<h3><%= empresa.nome %></h3>-->
		
		
		<%=link_image(empresa)%>
		
		<div class="info" >
			
			<p><%=empresa.setor.nome%> - <%=empresa.cidade.nome%>/<%=empresa.cidade.estado%></p>
			<h3>Conhece?</h3>
	
			<div class="avaliado">
				<%=voto(true, empresa)%>
				<%=voto(false, empresa)%>
				<div class="cf"></div>
			</div>
			
			
		</div>
				
		<div class="cf"></div>
</div>
