<div class="empresa mural" id="<%=empresa.id%>">
		<!--<h3><%= empresa.nome %></h3>-->
		
		
		<%=link_image(empresa)%>
		
		<div class="info" >
			
			<p><%=empresa.setor.nome%></p>
			<p><%=empresa.cidade.nome%>/<%=empresa.cidade.estado%></p>
			<p>Conhece?</p>
			<div>
				<div class="avaliado">
					<%=voto(true, empresa)%>
					<%=voto(false, empresa)%>
				</div>
			</div>
			
		</div>
				
		<div class="cf"></div>
</div>
