<div class="empresa mural" id="<%=empresa.id%>">
		<h3><%= empresa.nome %></h3>
		
		
		<%=link_image(empresa)%>
		
		<div class="info" >
			
			<p><%=empresa.setor.nome%></p>
			<p><%=empresa.cidade.nome%>/<%=empresa.cidade.estado%></p>
			
			<div>
				<div class="avaliado">
					<%=voto(true, empresa)%>
					<div class="true">
						<%=empresa.quant_avaliacao_is(true)%>
					</div>
				</div>
				
				<div class="avaliado">
					<%=voto(false, empresa)%>
					<div class="false">
						<%=empresa.quant_avaliacao_is(false)%>
					</div>
				</div>
			</div>
			
		</div>
				
		<div class="cf"></div>
</div>

