<div class="empresa mural" id="<%=empresa.id%>">
		<h3><%= empresa.nome %></h3>
		<%=image_tag(empresa.image)%>
		
		<div class="info" >
			
			<p><%=empresa.setor.nome%></p>
			
			<div>
				<%=voto(true, empresa)%>
				<%=voto(false, empresa)%>
			</div>
			
			<div class="avaliado">
				<div class="true">
					<%=empresa.quant_avaliacao_is(true)%>
				</div>
				
				<div class="false">
					<%=empresa.quant_avaliacao_is(false)%>
				</div>
			</div>

		
		</div>
				
		<div class="cf"></div>
</div>

