<!DOCTYPE html>
<html>
	<head>
		<title>Elifex - Conhecendo melhor !</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="description" content="O Elifex é uma ferramenta de web-marketing para pesquisa de mercado. Para concorrer a prêmios é muito simples basta se conectar e votar." />
		<meta http-equiv="content-language" content="pt-br" />
		<meta name="author" content="Luiz Costa">
		<meta name="keywords" content="Concorra Prêmios Grátis Pesquisa Mercado Elifex Web Marketing Marca Propaganda" />
		<%= csrf_meta_tags %>
		<%= favicon_link_tag%>
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		
		<script>
			if(navigator.appName.indexOf('Internet Explorer')>0){
					alert("Para a sua segurança utilize outro navegador.");
					window.location.href="https://www.google.com/intl/pt-BR/chrome/";
			}
			function facebook_path(){
				window.location.href="<%=url_for(page_path('sobre'))%>";
			}
			<%= yield :js%>
		</script>
	</head>
	<body>
		
	<%= render "layouts/header" %>


	<div class="content" id="<%=params[:controller]%>">
		
		<!--Dinamico-->

		<%= yield %>

		<!--Dinamico-->

	</div>

	<%= render "layouts/footer" %>
		
	</body>
</html>
